* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.banner-container {
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;

}

.banner-container * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
}

.banner-container h1 {
    margin-top: -100px;
}

.banner-container, .banner-container::before {
    background: 50% 50% / cover;
}

.banner-container::before {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url("../images/1074016.jpg");
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
}

.product-detail {
    width: 100vw;
    height: 100vh;
    display: flex;
}

ul {
    list-style-type: none;
}

.imagery {
    flex: 1 1 60%;
    width: 60%;
    padding: 50px 100px;
    background-color: #212121;
    transition: 0.4s;
}

.imagery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
    animation: fadein 1s ease-in-out forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.detail {
    flex: 1 1 40%;
    width: 40%;
    padding: 50px;
    background-color: #EEEEEE;
}

.detail .title {
    color: #212121;
    font-size: 32px;
    font-weight: 900;
}

.detail .options {
    color: #53565A;
    font-size: 22px;
    font-weight: 700;
    text-align: center;
}

.detail h3 {
    color: #53565A;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 50px;
}

.btn_grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.btn_grid .btn_wrap {
    flex: 1 1 50%;
    width: 50%;
    padding: 15px;
}

button {
    display: block;
    width: 100%;
    padding: 15px;

    appearance: none;
    outline: none;
    background: none;
    cursor: pointer;
    border: 2px solid #EEE;

    color: #313131;
    font-size: 20px;
    font-weight: 700;

    transition: 0.4s;
}

button:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

button.size {
    position: relative;
    z-index: 1;
}

button.size::before,
button.size::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    transition: 0.4s;
}

button.size::after {
    z-index: -1;
    background-color: #FFF;
    border: 3px solid #EEE;
}

button.size::before {
    z-index: -2;
    background-image: linear-gradient(to right, #ED008D, #8D00ED);
}

button.size.selected::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.colours .btn_wrap .black.selected {
    background-color: #212121;
    color: #FFF;
}

.colours .btn_wrap .blue.selected {
    background-color: #2484E4;
    color: #FFF;
}

.colours .btn_wrap .red.selected {
    background-color: #AF1E2D;
    color: #FFF;
}

.colours .btn_wrap .yellow.selected {
    background-color: #FFCE00;
    color: #212121;
}

.colours .btn_wrap .coral.selected {
    background-color: #FF6C37;
    color: #FFF;
}

.colours .btn_wrap .white.selected {
    background-color: #EEE;
    color: #212121;
}

.submit {
    margin-top: 15vh;
    background-image: linear-gradient(to right, transparent 50%, #ED008D 50%, #8D00ED 100%);
    background-size: 200%;
    background-position: 0 50%;
    transition: 0.8s;

}

.submit:hover {
    color: #FFF;
    background-position: 100% 50%;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.c_header {
    display: flex;
    top: 0;
    height: 70px;
    background: rgba(38, 38, 38, 0.5);
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo {
    position: -webkit-sticky;
    position: sticky;
    z-index: 1000;
    top: 0;

    margin-left: 15px;
    display: inline-flex;
    width: 175px;
    float: left;
    line-height: 70px;
}

.logo_img {
    width: 100%;
}

.logo a {
    text-decoration: none;
    font-size: 48px;
    color: #fff;
    letter-spacing: 5px;
}

nav {
    float: right;
    line-height: 70px;
    margin-left: auto;
}

nav a {
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 4px;
    margin: 0 20px;
    color: #fff;
}


@media screen and (max-width: 1023px) {
    .logo {
        width: 150px;
        line-height: 60px;
    }

    .logo a {
        font-size: 28px;
    }

    .logo_img {
        width: 60%;
        padding-top: 10px;
    }

    nav {
        line-height: 60px;
    }

    nav a {
        font-size: 20px;
    }

    .product-detail {
        height: 75vh;
    }

    .c_header {
        height: 60px;
    }

    .detail {
        padding: 15px;
        height: 100%;
    }

    .detail .title {
        font-size: 26px;
        margin: 0.1em 0;
    }

    .detail h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .detail .options {
        font-size: 20px;
    }

    button {
        font-size: 17px;
        padding: 7px;
    }

    .imagery {
        height: 100%;
        padding: 30px 30px;
    }

    .submit {
        margin-top: 10vh;
    }
}

@media screen and (max-width: 767px) {
    nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        float: none;
        text-align: center;
    }

    .c_header {
        height: fit-content;
    }

    .banner-container h1 {
        margin-top: 150px;
    }

    nav a {
        border-top: solid;
        border-radius: 16px;
        border-top-color: #53565A;
        border-top-width: thin;
        font-size: 28px;
    }

    .imagery {
        padding: 20px 20px;
    }

    .btn_grid .btn_wrap {
        padding: 5px;
    }

    .detail .options {
        margin: 15px;
    }

}

@media screen and (max-width: 482px) {

    .product-detail{
        flex-direction: column;
        height: fit-content;
    }

    .detail {
        width: 100%;
    }

    nav {
        text-align: right;
    }

    .imagery {
        width: 100%;
        padding: 0;
    }

    .banner-container h1 {
        margin-top: 250px;
    }

}


/*Footer*/
.content1 {
    position: relative;
    margin: 130px auto;
    text-align: center;
    padding: 0 20px;
}

.content1 .text {
    font-size: 2.5rem;
    font-weight: 600;
    color: #202020;
}

.content1 .p {
    font-size: 2.1875rem;
    font-weight: 600;
    color: #202020;
}

footer {
    /*background-image: url("../images/1074016.jpg");*/
    padding-top: 30px;
    background: #212121;
    position: fixed;
    width: 100%;
    font-size: 15px;
}

.main-content {
    display: flex;
}

.main-content .box {
    padding: 10px 20px;
}

.box h2 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #656565;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #7B00A2;
    top: -10px;
}

.left .content p {
    text-align: justify;
    color: #656565;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #7B00A2;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content {
    color: #656565;
}

.center .content .fas:hover {
    background: #7B00A2;
}

.center .content .text {
    font-size: 0.9rem;
    font-weight: 500;
    padding-left: 10px;
}

.right form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input, .right form .msgForm {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus,
.right form .msgForm:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #7B00A2;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .btn button:hover {
    background: #000;
}

.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
}

.bottom center span {
    color: #656565;
}

.bottom center a {
    color: #7B00A2;
    text-decoration: none;
}

.bottom center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0;
    }

    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .main-content .box {
        margin: 5px 0;
    }
}